.flexv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  position: relative;
}

.board-table {
  border: none;
  border-collapse: collapse;
}

.board-td {
  position: relative;
  padding: 0;
  margin: 0;
  width: 64px;
  height: 64px;
}
