.flexv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  position: relative;
}

.board-table {
  border: none;
  border-collapse: collapse;
}

.spin-area {
  z-index: 9;
  cursor: pointer;
  position: absolute;
  inset: 0;
}

.spin-rect {
  pointer-events: none;
  position: absolute;
  outline: 2px dashed #0088ff;
  background: #0088ff20;
}

.spin-rect-bad {
  outline-color: #ff0000;
  background: #ff000020;
}

.spin-rect-ok {
  outline: none;
}

.spin-preview {
  outline: 2px dashed #0088ff;
  position: absolute;
}

.spin-preview-animate {
  transform: rotate(0deg);
  animation: spin 0.5s ease forwards;
}

@keyframes spin {
  100% {
    transform: rotate(90deg);
  }
}

.board-td {
  position: relative;
  padding: 0;
  margin: 0;
  width: 64px;
  height: 64px;
}

.board-cell {
  background: #deb887;
  width: 100%;
  height: 100%;
  display: flex;
}

.board-cell-clickable {
  cursor: pointer;
}

.board-line {
  pointer-events: none;
  background: #be4847;
  margin: auto;
  position: absolute;
  inset: 31px;
}

.board-line-r {
  right: 0px;
}

.board-line-l {
  left: 0px;
}

.board-line-t {
  top: 0px;
}

.board-line-b {
  bottom: 0px;
}

.stone {
  pointer-events: none;
  position: absolute;
  border-radius: 32px;
  width: 100%;
  height: 100%;
}

.stone-preview {
  visibility: hidden;
  opacity: 0.5;
}

@media (hover: hover) {
  .board-cell-clickable:hover .stone-preview {
    visibility: visible;
  }
}

.stone-black {
  background: #444444;
}

.stone-white {
  background: #f7f7f7;
}

.spin-cell {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (hover: hover) {
  .spin-cell:hover {
    outline: 2px dotted blue;
  }
}
