@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fc {
    @apply flex flex-col;
  }
  .fr {
    @apply flex flex-row;
  }
  .jc {
    @apply justify-center;
  }
  .ic {
    @apply items-center;
  }
  .fcc {
    @apply fc jc ic;
  }
  .frc {
    @apply fr jc ic;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #00000010;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
